h1 {
    font-family: courier,
    monospace;
}

.container {
    padding: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon-row {
    padding: 1em 0;
}

.icon-link > i {
    padding: 0 1em;
}

.blurb {
    width: 50%;
    margin: auto;
}

.main_para {
    padding: 1em 0;
}